<% provide :title, t("title.home") %>
<div class="container">
  <div class="row">
    <div class="col-md-8 content_index">
      <h2></h2>
      <p class="lead">
        <%= t "home.by" %>
      </p>
      <div class="hr_page">
        <p>
          <span class="glyphicon glyphicon-time"></span><%= t "home.posted_on" %>
        </p>
      </div>
      <img class="img-responsive" src="http://placehold.it/900x300" alt="image_post">
      <p></p>
      <a class="btn btn-primary" href="#"><%= t "home.btb_read_more" %>
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
      <ul class="pager">
      </ul>
    </div>
    <div class="col-md-4 sidebar_widgets">
      <div class="well">
        <h4><%= t "home.search" %></h4>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="well">
        <h4><%= t "home.post_popular" %></h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled"></ul>
          </div>
        </div>
      <div class="well"></div>
    </div>
  </div>
</div>
