<div id="form">
  <div id="login-box">
    <div class="left">
      <h1><%= t "users.new.sign_in" %></h1>
      <%= form_for :sessions, url: login_path do |f| %>
        <%= f.text_field :email, placeholder: t("users.new.placeholder_email") %>
        <%= f.password_field :password, placeholder: t("users.new.placeholder_password") %>
        <%= f.submit t("users.new.button_1") %>
      <% end %>
    </div>
    <div class="right">
      <div class="btn-right">
        <button class="social-signin facebook"><%= t ".facebook" %></button>
        <button class="social-signin twitter"><%= t ".twitter" %></button>
        <button class="social-signin google"><%= t ".google" %></button>
      </div>
    </div>
    <div class="or"><%= t ".or" %></div>
  </div>
</div>
