<div class="row">
<div class="notice"><%= render "shared/messages_errores", flash: flash %></div>
  <div class="col-md-5 col-md-offset-3 notice">
    <%= form_for :password_reset, url: password_resets_path do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %><br>

      <%= f.submit t("users.new.button_2"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
