<% provide :title, @user.name %>
<%= @user.name %>, <%= @user.email %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<div class="col-md-8">
  <% if @user.microposts.any? %>
    <h3><%= t "post.microposts" %> (<%= @user.microposts.size %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
  <% end %>
</div>
